body{
    font: 20px Arial, sans-serif;
}
.navbar{
    background-color: #436331;
}

.quem-somos{
    background-color: #999A8D;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #418DD7;
}

.bg-footer{
    background-color: black;
    color: white;
}